<div class="post-member">
    <div class="thumbnail">
        <img src="" alt="">
    </div>
    <div class="desc">
        <div class="inner-cell">
            <span class="name">김연수 | Data Analyst</span>
            <span class="introduce">한줄 자기 소개 작성해주세요.</span>
            <div class="skill">
                <ul class="skill-list">
                    <li>
                        <a href="/tags/#python">#python</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>