<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    {%- if page.title == nil -%}
      <section class="page-banner">
        <div class="page-banner-img">
          <div style="background-image: url(https://www.vactualpapers.com/web/wallpapers/modern-material-design-full-hd-wallpaper-no-333/1920x1920.png)"></div>
        </div>
        <div class="wrapper">
          
          <div class="page-banner-live">
            <h2 class="page-banner-live-title">Live Services</h2>
            <div class="page-banner-live-list">
              <div class="card">
                <img class="card-img" src="https://gblobscdn.gitbook.com/assets%2F-M7oaOV5Oia2AcGMSRiD%2F-M7uoBdV5OZfCDIemttL%2F-M7uoNr-si66G_w7yQ-7%2Fsawh3.gif?alt=media&token=9a8b9f25-fce1-43e3-a4ed-ce6197049f74" alt="The Movies Project">
                <div class="card-body">
                  <h4>서든어택 월핵탐지기<i class="fas fa-external-link-alt" style="margin-left: 5px;"></i></h4>
                  <p>ObjectDetection을 사용해 월핵을 탐지합니다</p>
                  <p>
                    <span>#ObjectDetection</span>
                  </p>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="https://gblobscdn.gitbook.com/assets%2F-M7oaOV5Oia2AcGMSRiD%2F-MU3-aTqlLd6pPwY3gLk%2F-MU3-j1zefSBcHW75TES%2Ffgt3.gif?alt=media&token=0427f549-01dc-42e2-acae-b477fd818104" alt="The Movies Project">
                <div class="card-body">
                  <h4>실시간 감정추론<i class="fas fa-external-link-alt" style="margin-left: 5px;"></i></h4>
                  <p>ObjectDetection을 사용해 월핵을 탐지합니다</p>
                  <p>
                    <span>#ComputerVision</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="tags-content">
        <div class="wrapper">
          <ul class="tags-list">
            {% for tag in site.tags %}
              <li>
                <a href="/">
                  <span>#{{ tag[0] }}</span>  
                </a>
              </li>
            {% endfor %}       
          </ul>
        </div>
      </section>

    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
