---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">
      {% include icon-nexon.svg %}
      {{ page.title | escape }}
    </h1>
  </header>
  
  {%- if page.title == "Tags" -%}
    {% assign tags = site.tags | sort %}
    <div class="framework">
      <section class="tags">
        <div class="post-preview">
          {% for tag in tags %} 
            <h2 id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>
            <ul>
              {% for post in tag[1] %}
                <a href="{{ site.baseurl }}{{ post.url }}">
                <li>
                  {{ post.title }}
                  <span class="post-meta" style="margin-left: 15px;">
                    {{ post.date | date: "%B %-d, %Y" }}
                  </span>
                </li>
              </a>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </section>
      <section class="side-bar">
        <div class="side-bar-tags"> 
          <ul>
          {% for tag in tags %}
            <li>
              <a href="/tags/#{{ tag[0]  }}">
                {{ tag[0] }}
                <span>
                  {{ tag | last | size }}
                </span>
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </section>
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
